<!DOCTYPE html>
<html>
<head>
<script src="/angular/jquery.mini.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular/angular-animate.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.13.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="/angular/myHomepage.js"></script> -->
<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
<title><%=title%></title>
</head>
<body>
	<div class="row">
		<div class="col-md-4" align=center>Hi, <%=firstname%>
			<%=lastname%></div>
		<div class="col-md-7" align=center>
			<form action="logout" method="post">
			<button type="submit">Log Out</button>
			</form>
		</div>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="homepage">Home Page</a></li>
			<li role="presentation" class="active"><a href="about">About</a></li>
			<li role="presentation"><a href="interest">Interest</a></li>
			<li role="presentation"><a href="friend">Friends</a></li>
		</ul>
	</div>
	<div class="col-md-2"></div>
	<div class="container" align=center>
		<div class="row" align=center>
			<div class="col-md-9">
				<div class="thumbnail">
					<div class="caption">
						<h3>Overview</h3>
						<p><%= overview%></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h3>Work</h3>
						<p><%= work%></p>
					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h3>Education</h3>
						<p><%= education%></p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<h3>Email</h3>
						<p><%= email%></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>